/utils/flash-HC-05/.pio
/utils/flash-HC-05/.vscode/.browse.c_cpp.db*
/utils/flash-HC-05/.vscode/c_cpp_properties.json
/utils/flash-HC-05/.vscode/extensions.json
/utils/flash-HC-05/.vscode/launch.json
/utils/flash-HC-05/.vscode/ipch
/utils/flash-HC-05/.gitignore